@charset "UTF-8";

:root {
    --white: #fff;
    --white-op: rgba(255, 255, 255, 0.2);
    --black: #000;
    --black-op: rgba(0, 0, 0, 0.2);
    --none: #00000000;
    --gray: #0d0d0d;
    --gray-op: #9999992b;
    --mask-color: linear-gradient(to bottom, #000, #000, #000, #000, #000, #000, #000, #000, #000, #000, #0000, #0000);
    --media-mask-color: linear-gradient(to bottom, #000, #000, #000, #000, #0000, #0000);
    --vh: 100vw
}

#page {
    border: 0;
    box-shadow: none !important;
    padding: 0 !important;
    background: transparent !important
}

body {
    background: var(--gray);
    position: relative
}

#music-page meting-js .aplayer {
    display: flex;
    flex-direction: row-reverse;
    background: var(--none);
    border: 0;
    box-shadow: none;
    justify-content: space-between
}

#music_bg {
    display: none;
    position: fixed;
    z-index: -999;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background-position: 0 0;
    rotate: 0;
    background-size: 40%;
    transition: .6s
}

#music_bg::before {
    content: '';
    transform: translateZ(0);
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    position: fixed;
    z-index: -998;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%
}

body #music_bg {
    display: block
}

body {
    background: var(--gray)
}

#music-page {
    max-width: calc(1200px - 160px);
    margin: 60px auto auto;
}

#music-page meting-js .aplayer {
    display: flex;
    flex-direction: row-reverse;
    background: var(--none);
    border: 0;
    box-shadow: none
}

body #web_bg {
    filter: blur(63px);
    opacity: .6;
    background-repeat: no-repeat;
    background-size: cover
}

body #footer,
body #nav-music {
    display: none
}

#music-page .aplayer-body {
    width: 70%;
    height: 75vh
}

#music-page ol>li:hover {
    background: var(--black-op);
    border-radius: 6px
}

#music-page .aplayer-pic {
    float: none;
    width: 60px;
    height: 60px;
    border-radius: 12px;
    margin: auto;
    bottom: 30px;
    left: 90px;
    position: fixed;
    z-index: 999;
    display: none
}

#music-page .aplayer-info {
    margin: 0 20px 0 20px;
    border-bottom: 0
}

#music-page .aplayer-info .aplayer-music {
    text-align: center;
    height: auto;
    margin: 15px;
    display: none
}

#music-page .aplayer-info .aplayer-music .aplayer-author,
#music-page .aplayer-info .aplayer-music .aplayer-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--white)
}

#music-page .aplayer-info .aplayer-lrc {
    padding-top: 80px;
    height: var(--vh);
    mask-image: var(--mask-color);
    -webkit-mask-image: var(--mask-color)
}

#music-page .aplayer-info .aplayer-lrc p {
    font-size: 36px;
    line-height: 44px;
    height: 44px;
    margin-bottom: 36px;
    color: var(--white);
    font-weight: bold;
    text-align: left;
    filter: blur(2px);
    opacity: .3;
    transition: all .9s cubic-bezier(0.56, 0.17, 0.22, 0.76);
    user-select: none;
    -webkit-user-select: none;
    text-shadow: 0 2px 0 #ffffff00
}

#music-page .aplayer-info .aplayer-lrc p.aplayer-lrc-current {
    filter: blur(0px);
    opacity: 1;
    transition: all .3s cubic-bezier(0.56, 0.17, 0.22, 0.76), text-shadow 8s 4s ease-in;
    height: fit-content;
    text-shadow: 0 2px 16px #ffffff94
}

@media screen and (min-width:768px) {
    #music-page .aplayer-info .aplayer-lrc:hover p {
        filter: blur(0px)
    }
}

#music-page .aplayer .aplayer-lrc:after,
#music-page .aplayer .aplayer-lrc:before {
    display: none
}

.aplayer .aplayer-lrc .aplayer-lrc-contents {
    width: 90%;
    margin-left: auto;
    transition: all .5s cubic-bezier(0.49, 0.21, 0.22, 0.84);
    position: relative
}

@media screen and (max-width:768px) {
    .aplayer .aplayer-lrc .aplayer-lrc-contents {
        width: 100%
    }
}

#music-page .aplayer-info .aplayer-controller {
    position: fixed;
    max-width: calc(1200px - 160px);
    margin: auto;
    left: 0;
    right: 0;
    bottom: 50px;
    align-items: center
}

#music-page .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    margin: 0 160px 0 150px
}

#music-page .aplayer-info .aplayer-controller .aplayer-thumb {
    -webkit-transform: none;
    transform: none;
}

#music-page .aplayer-info .aplayer-time .aplayer-icon-back,
#music-page .aplayer-info .aplayer-time .aplayer-icon-forward,
#music-page .aplayer-info .aplayer-time .aplayer-icon-play {
    display: inline;
    position: fixed
}

#music-page .aplayer-info .aplayer-time {
    position: absolute;
    width: 100%;
    bottom: 24px;
    height: 0;
    display: flex;
    justify-content: flex-end
}

#music-page .aplayer-info .aplayer-time .aplayer-time-inner {
    margin-right: 18px;
    margin-top: -8px
}

#music-page .aplayer-info .aplayer-time .aplayer-icon-back {
    position: absolute;
    left: 0
}

#music-page .aplayer-info .aplayer-time .aplayer-icon-play {
    position: absolute;
    left: 40px
}

#music-page .aplayer-info .aplayer-time .aplayer-icon-forward {
    position: absolute;
    left: 80px
}

#music-page .aplayer-info .aplayer-time .aplayer-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 15px
}

#music-page .aplayer-info .aplayer-time .aplayer-icon-menu {
    display: none
}

#music-page .aplayer-info .aplayer-time .aplayer-icon path {
    fill: var(--white);
    opacity: .8
}

#music-page .aplayer-list {
    width: 40%;
    max-width: 480px;
    max-height: none !important;
    height: 100%;
    min-width: 200px
}

#music-page ol {
    max-height: calc(var(--vh) - 170px) !important
}

#music-page ol::-webkit-scrollbar-thumb {
    background-color: var(--white-op)
}

#music-page ol>li {
    font-size: 14px;
    opacity: .6
}

#music-page ol>li.aplayer-list-light {
    background: var(--black-op);
    border-radius: 6px;
    height: 60px;
    display: flex;
    flex-direction: column;
    opacity: 1
}

#music-page ol>li.aplayer-list-light .aplayer-list-index {
    display: none
}

#music-page ol>li.aplayer-list-light .aplayer-list-title {
    font-size: 20px;
    line-height: 20px;
    margin-top: 8px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#music-page ol>li span {
    color: var(--white)
}

#music-page ol>li.aplayer-list-light .aplayer-list-cur {
    display: none
}

#music-page ol>li span.aplayer-list-title {
    line-height: 32px
}

#music-page ol>li .aplayer-list-index {
    line-height: 32px
}

#music-page ol>li span.aplayer-list-author {
    opacity: .6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 40%;
    line-height: 32px
}

#music-page ol>li.aplayer-list-light span.aplayer-list-author {
    max-width: 100%
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
    height: 8px;
    border-radius: 8px;
    background: var(--white-op)
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
    background: var(--white-op);
    height: 8px;
    border-radius: 8px
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
    height: 8px;
    border-radius: 8px
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
    height: 16px;
    width: 16px
}

.page #nav {
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
    background: 0 0 !important;
    border-bottom: none !important
}

.page #page-header.not-top-img #nav a,
.page #page-header #nav .back-home-button {
    color: var(--white)
}

body .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon.aplayer-icon-loop {
    margin-right: 7px
}

.aplayer .aplayer-info .aplayer-controller .aplayer-time {
    color: var(--white)
}

[data-theme="dark"] .page #page-header:before {
    background-color: transparent
}

@media screen and (max-width:768px) {
    body #rightside {
        display: none
    }

    body #content-inner,
    body #page {
        z-index: auto
    }

    #music-page .aplayer-list {
        position: fixed;
        z-index: 1002;
        width: 100%;
        bottom: 0;
        left: 0;
        background: var(--white-op);
        border-radius: 16px 16px 0 0;
        padding: 15px 0;
        max-width: 100%;
        height: calc(var(--vh) - 200px);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    #music-page .aplayer-list.aplayer-list-hide {
        bottom: -100% !important
    }

    #music-page ol {
        max-height: 100% !important;
        padding-right: 3px;
        padding-left: 8px
    }

    #music-page ol>li {
        display: flex
    }

    #music-page ol>li span {
        color: var(--font-color)
    }

    #music-page ol>li span.aplayer-list-title {
        width: 30%
    }

    #music-page ol>li.aplayer-list-light {
        padding: 5px 20px;
        border-radius: 10px;
        height: 52px;
        justify-content: center
    }

    #music-page ol>li.aplayer-list-light .aplayer-list-title {
        margin-top: 4px
    }

    #music-page ol>li.aplayer-list-light span {
        color: var(--white)
    }

    #music-page ol>li span.aplayer-list-title {
        max-width: 55%;
        width: auto;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        overflow: hidden;
        -webkit-box-orient: vertical
    }

    #music-page ol>li span.aplayer-list-author {
        right: 10px;
        width: auto;
        max-width: 35%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        overflow: hidden;
        -webkit-box-orient: vertical;
        margin-left: auto
    }

    #music-page ol>li.aplayer-list-light span.aplayer-list-author {
        margin-left: 0;
        right: 15px
    }

    #music-page .aplayer-body {
        width: 100%;
        overflow: hidden;
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        height: calc(var(--vh) - 200px)
    }

    #music-page .aplayer-info .aplayer-lrc {
        margin-top: 0;
        height: auto;
        min-height: 100%;
        mask-image: var(--media-mask-color);
        -webkit-mask-image: var(--media-mask-color)
    }

    #music-page .aplayer-info .aplayer-controller {
        width: 100%;
        bottom: 120px
    }

    #music-page .aplayer-info .aplayer-controller .aplayer-bar-wrap {
        margin: 0 32px
    }

    #music-page .aplayer-info .aplayer-time {
        bottom: -40px;
        align-items: center
    }

    #music-page .aplayer-info .aplayer-time .aplayer-time-inner {
        position: absolute;
        width: 100%;
        margin-right: 4px;
        margin-top: -60px
    }

    #music-page .aplayer-info .aplayer-time .aplayer-time-inner .aplayer-dtime {
        position: absolute;
        right: 30px
    }

    #music-page .aplayer-info .aplayer-time .aplayer-time-inner .aplayer-ptime {
        position: absolute;
        left: 44px
    }

    #music-page .aplayer-info .aplayer-time .aplayer-icon-back {
        margin: auto;
        right: 110px
    }

    #music-page .aplayer-info .aplayer-time .aplayer-icon-play {
        margin: auto;
        right: 0;
        left: 0;
        width: 56px;
        height: 56px
    }

    #music-page .aplayer-info .aplayer-time .aplayer-icon-forward {
        margin: auto;
        left: 110px;
        right: 0
    }

    #music-page .aplayer-info .aplayer-time .aplayer-icon-order {
        position: absolute;
        left: 22px;
        width: 24px;
        height: 24px;
        opacity: .4
    }

    #music-page .aplayer-info .aplayer-time .aplayer-icon-loop {
        position: absolute;
        right: 25px;
        width: 24px;
        height: 24px;
        opacity: .4
    }

    #music-page .aplayer-info .aplayer-time .aplayer-icon-menu {
        display: inline;
        position: absolute;
        right: 30px;
        top: -100px;
        width: 24px;
        height: 24px;
        opacity: .4
    }

    #music-page .aplayer-volume-bar-wrap {
        bottom: 0;
        right: 7px
    }

    #music-page .aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap {
        left: -66px;
        display: none
    }

    #music-page .aplayer-info .aplayer-lrc {
        padding-top: 100px
    }

    #music-page .aplayer-info .aplayer-lrc p {
        font-size: 32px;
        margin-bottom: 38px;
        line-height: 42px;
        height: 42px
    }

    #music-page .aplayer-info .aplayer-music {
        display: flex;
        position: fixed;
        top: calc(var(--vh) - 178px);
        left: 0;
        margin: 0 0 0 32px;
        height: 21px;
        max-width: calc(100vw - 110px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        opacity: .6;
        align-items: center;
        line-height: 1
    }

    #music-page .aplayer-info .aplayer-music .aplayer-title {
        font-size: 16px;
        font-weight: normal;
        margin: 0;
        line-height: 1
    }

    #music-page .aplayer-info .aplayer-music .aplayer-author {
        margin-left: 4px;
        font-size: 16px;
        font-weight: normal;
        line-height: 1
    }

    #music-page .aplayer-info .aplayer-music .aplayer-author,
    #music-page .aplayer-info .aplayer-music .aplayer-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(100vw - 176px)
    }

    .aplayer .aplayer-lrc {
        overflow: inherit
    }
}
